<%- include('../template/header', {title: "Python kiegészítő"}) %>
  
<div class="row login-parent my-3">

  <%- include('../template/navbar', {active: 1}) -%>

  <div class="col-12 col-lg-10 h-100 pt-3 pt-lg-0">
    <div class="content">
      <h3>Dolgozatok</h3>
      
    </div>
  </div>
</div>

<%- include('../template/footer', {login: false}) -%>