<div class="col-12 col-lg-2 navbar-sajat h-lg-100 pb-3 pt-lb-0">
    <div class="navbar-sajat-parent">
      <a class="navbar-sajat-item <%= (active == 1 ? "active" : "") %>" href="../user/">Kezdőlap</a>
      <a class="navbar-sajat-item <%= (active == 2 ? "active" : "") %>" href="../ujdolgozat/">Új dolgozat</a>
      <a class="navbar-sajat-item <%= (active == 3 ? "active" : "") %>" href="#">Osztályok</a>
      <a class="navbar-sajat-item <%= (active == 4 ? "active" : "") %>" href="#">Felhasználók</a>
    </div>
</div>